## **LIMPIEZA DE COLUMNAS Y UNION DE DATOS**

#### **THE SIMPSONS - AWARDS & RATINGS**

In [1]:
import pandas as pd
import numpy as np
from src import eda_soporte as eda_sp

pd.set_option('display.max_columns', None)

In [2]:
df_award = eda_sp.open_csv("./datasets/award.csv")
df_award.head(1)

Archivo cargado con √©xito

,award_id,organization,year,award_category,award,person,role,episode_id,season,song,result
0,100,"Golden Globes, USA",2003,Golden Globe,Best Television Series - Comedy or Musical,NaN,NaN,NaN,NaN,NaN,Nominee

In [3]:
# ELIMINAR 3 columnas - 98% nulos y tenemos esta info en otros datasets

df_award = df_award.drop(columns=['season', 'song', 'role'])

In [4]:
df_character_award = eda_sp.open_csv("./datasets/character_award.csv")
df_character_award.head(1)

Archivo cargado con √©xito

   award_id character
0       122       Moe

In [5]:
df_award = df_award.merge(df_character_award, on='award_id', how='left')

In [6]:
df_award.shape

(1322, 9)

In [7]:
df_credit = eda_sp.open_csv("./datasets/credit.csv")
df_credit.head(1)

Archivo cargado con √©xito

  episode_id     category       person                   role  credited
0    S31-E18  Produced by  Ron Diamond  animation produced by      True

In [8]:
#Limpiar duplicados 
df_credit = df_credit.drop_duplicates()

In [9]:
df_credit.shape

(138442, 5)

In [10]:
# ELIMINAR 'credited' - la info no es √∫til

df_credit = df_credit.drop(columns=['credited', 'category'])

In [11]:
df_award = df_award.merge(df_credit[['episode_id', 'person', 'role']],
            on=['episode_id', 'person'],
            how='left')

In [12]:
df_award.shape

(1881, 10)

In [13]:
df_episode = eda_sp.open_csv("./datasets/episode.csv")
df_episode.head(1)

Archivo cargado con √©xito

,episode_id,season,episode,number_in_series,title,summary,air_date,episode_image,rating,votes
0,S1-E1,1,1,1,Simpsons Roasting on an Open Fire,The family is forced to spend all of their sav...,1989-12-17,https://m.media-amazon.com/images/M/MV5BZjJjMz...,8.1,5499.0

In [14]:
# Solo me interesan 2 columnas de este dataset para hacer de puente con el df_ratings

df_episode = df_episode.drop(columns=['number_in_series', 'title',
       'summary', 'air_date', 'episode_image', 'rating', 'votes'])

In [15]:
df_award = df_award.merge(df_episode, on='episode_id', how='left')

In [16]:
df_award.columns

Index(['award_id', 'organization', 'year', 'award_category', 'award', 'person',
       'episode_id', 'result', 'character', 'role', 'season', 'episode'],
      dtype='object')

In [17]:
df_award.shape

(1881, 12)

In [18]:
# Organizar el orden de las columnas

cols = ['award_id', 'organization', 'year', 'award_category', 'award', 'result', 
        'person', 'role', 'character',
        'episode_id', 'season', 'episode']

df_award = df_award[cols]

In [19]:
# Verificar si no hay duplicados y el orden de las columnas
eda_sp.eda_1(df_award)

üîç EXPLORACI√ìN R√ÅPIDA EDA

____ DIMENSIONES ____
Filas: 1881 | Columnas: 12

____ TIPO DE DATOS ____
award_id            int64
organization       object
year                int64
award_category     object
award              object
result             object
person             object
role               object
character          object
episode_id         object
season            float64
episode           float64
dtype: object

____ DUPLICADOS ____
16

____ % DE NULOS ____
award_id           0.00
organization       0.00
year               0.00
award_category     0.00
award              0.05
result             0.00
person            10.05
role              25.89
character         81.71
episode_id        22.97
season            22.97
episode           22.97
dtype: float64

____ VALORES √öNICOS ____
award_id          1244
organization        49
year                31
award_category      53
award              175
result               2
person             219
role               136
character           65
episode_id         167
season              31
episode             22
dtype: int64

--- ‚úÖ Inspecci√≥n EDA terminada ---

In [20]:
df_award = df_award.drop_duplicates()

In [21]:
df_award.duplicated().sum()

np.int64(0)

In [22]:
df_award.to_csv("./final_data/simpsons_awards.csv", index=False)

In [23]:
df_ratings = pd.read_csv("./datasets/simpsons_ratings_episodes.csv", index_col=0)

df_ratings.head(1)

,title,description,original_air_date,production_code,directed_by,written_by,season,number_in_season,number_in_series,us_viewers_in_millions,imdb_rating,tmdb_rating,tmdb_vote_count
id,,,,,,,,,,,,,
0,Simpsons Roasting on an Open Fire,Homer is forced to become a department store S...,1989-12-17,7G08,David Silverman,Mimi Pond,1,1,1,26.7,8.1,6.921,101

In [24]:
# ELIMINAR columnas - la info no es √∫til

df_ratings = df_ratings.drop(columns=['number_in_series', 'production_code'])

In [25]:
df_ratings = df_ratings.rename(columns={'original_air_date': 'air_date', 'number_in_season': 'episode', 'us_viewers_in_millions': 'us__million_viewers'})

In [26]:
df_ratings.columns

Index(['title', 'description', 'air_date', 'directed_by', 'written_by',
       'season', 'episode', 'us__million_viewers', 'imdb_rating',
       'tmdb_rating', 'tmdb_vote_count'],
      dtype='object')

In [27]:
df_ratings.shape

(747, 11)

In [28]:
eda_sp.eda_1(df_ratings)

üîç EXPLORACI√ìN R√ÅPIDA EDA

____ DIMENSIONES ____
Filas: 747 | Columnas: 11

____ TIPO DE DATOS ____
title                   object
description             object
air_date                object
directed_by             object
written_by              object
season                   int64
episode                  int64
us__million_viewers    float64
imdb_rating            float64
tmdb_rating            float64
tmdb_vote_count          int64
dtype: object

____ DUPLICADOS ____
0

____ % DE NULOS ____
title                  0.00
description            0.00
air_date               0.00
directed_by            0.00
written_by             0.00
season                 0.00
episode                0.00
us__million_viewers    0.13
imdb_rating            0.00
tmdb_rating            0.00
tmdb_vote_count        0.00
dtype: float64

____ VALORES √öNICOS ____
title                  747
description            747
air_date               738
directed_by             49
written_by             166
season                  34
episode                 25
us__million_viewers    541
imdb_rating             44
tmdb_rating             49
tmdb_vote_count         49
dtype: int64

--- ‚úÖ Inspecci√≥n EDA terminada ---

In [29]:
df_ratings.to_csv("./final_data/simpsons_ratings.csv", index=False)