## **EDA**

#### **THE SIMPSONS - AWARDS & RATINGS**

In [1]:
import pandas as pd
import numpy as np
from src import eda_soporte as eda_sp

pd.set_option('display.max_columns', None)

In [2]:
df_award = eda_sp.open_csv("./datasets/award.csv")
df_award.head(2)

Archivo cargado con √©xito

,award_id,organization,year,award_category,award,person,role,episode_id,season,song,result
0,100,"Golden Globes, USA",2003,Golden Globe,Best Television Series - Comedy or Musical,NaN,NaN,NaN,NaN,NaN,Nominee
1,101,Primetime Emmy Awards,2019,Primetime Emmy,Outstanding Animated Program,James L. Brooks,executive producer,S30-E11,NaN,NaN,Winner

In [3]:
df_award.shape

(1244, 11)

In [4]:
df_award.columns

Index(['award_id', 'organization', 'year', 'award_category', 'award', 'person',
       'role', 'episode_id', 'season', 'song', 'result'],
      dtype='object')

In [5]:
eda_sp.eda_1(df_award)

üîç EXPLORACI√ìN R√ÅPIDA EDA

____ DIMENSIONES ____
Filas: 1244 | Columnas: 11

____ TIPO DE DATOS ____
award_id            int64
organization       object
year                int64
award_category     object
award              object
person             object
role               object
episode_id         object
season            float64
song               object
result             object
dtype: object

____ DUPLICADOS ____
0

____ % DE NULOS ____
award_id           0.00
organization       0.00
year               0.00
award_category     0.00
award              0.08
person            14.95
role              44.94
episode_id        31.43
season            98.55
song              98.23
result             0.00
dtype: float64

____ VALORES √öNICOS ____
award_id          1244
organization        49
year                31
award_category      53
award              175
person             219
role                47
episode_id         167
season               6
song                 9
result               2
dtype: int64

--- ‚úÖ Inspecci√≥n EDA terminada ---

In [6]:
df_character_award = eda_sp.open_csv("./datasets/character_award.csv")
df_character_award.head(2)

Archivo cargado con √©xito

   award_id character
0       122       Moe
1       122      Carl

In [7]:
df_credit = eda_sp.open_csv("./datasets/credit.csv")
df_credit.head(2)

Archivo cargado con √©xito

,episode_id,category,person,role,credited
0,S31-E18,Produced by,Ron Diamond,animation produced by,True
1,S1-E1,Casting Department,Bonita Pietila,casting,True

In [8]:
eda_sp.eda_1(df_credit)

üîç EXPLORACI√ìN R√ÅPIDA EDA

____ DIMENSIONES ____
Filas: 138609 | Columnas: 5

____ TIPO DE DATOS ____
episode_id    object
category      object
person        object
role          object
credited        bool
dtype: object

____ DUPLICADOS ____
167

____ % DE NULOS ____
episode_id    0.0
category      0.0
person        0.0
role          0.0
credited      0.0
dtype: float64

____ VALORES √öNICOS ____
episode_id     683
category        22
person        2625
role          6101
credited         2
dtype: int64

--- ‚úÖ Inspecci√≥n EDA terminada ---

In [9]:
#Limpiar duplicados 
df_credit = df_credit.drop_duplicates()

In [10]:
df_credit.duplicated().sum()

np.int64(0)

In [11]:
df_credit.columns

Index(['episode_id', 'category', 'person', 'role', 'credited'], dtype='object')

In [12]:
# ELIMINAR 'credited' - la info no es √∫til

df_credit = df_credit.drop(columns=['credited'])

In [13]:
df_episode = eda_sp.open_csv("./datasets/episode.csv")
df_episode.head(2)

Archivo cargado con √©xito

,episode_id,season,episode,number_in_series,title,summary,air_date,episode_image,rating,votes
0,S1-E1,1,1,1,Simpsons Roasting on an Open Fire,The family is forced to spend all of their sav...,1989-12-17,https://m.media-amazon.com/images/M/MV5BZjJjMz...,8.1,5499.0
1,S1-E2,1,2,2,Bart the Genius,Bart ends up at a school for gifted children a...,1990-01-14,https://m.media-amazon.com/images/M/MV5BOTA0MT...,7.8,3456.0

In [14]:
df_episode.columns

Index(['episode_id', 'season', 'episode', 'number_in_series', 'title',
       'summary', 'air_date', 'episode_image', 'rating', 'votes'],
      dtype='object')

In [15]:
# ELIMINAR 4 columnas - la info no es √∫til

df_episode = df_episode.drop(columns=['season', 'episode', 'number_in_series', 'episode_image'])

In [16]:
df_keyword = eda_sp.open_csv("./datasets/keyword.csv")
df_keyword.sample(2)

Archivo cargado con √©xito

     episode_id            keyword
6225     S30-E4       decapitation
5496    S31-E12  employee training

In [17]:
df_person = eda_sp.open_csv("./datasets/person.csv")
df_person.head(2)

Archivo cargado con √©xito

,name,birthdate,birth_name,birth_place,birth_region,birth_country,height_meters,nickname
0,Michael Cera,1988-06-07,Michael Austin Cera,Brampton,Ontario,Canada,1.75,Mike
1,Winona Ryder,1971-10-29,Winona Laura Horowitz,Winona,Minnesota,USA,1.61,Noni

In [18]:
df_person.columns

Index(['name', 'birthdate', 'birth_name', 'birth_place', 'birth_region',
       'birth_country', 'height_meters', 'nickname'],
      dtype='object')

In [19]:
eda_sp.eda_1(df_person)

üîç EXPLORACI√ìN R√ÅPIDA EDA

____ DIMENSIONES ____
Filas: 2629 | Columnas: 8

____ TIPO DE DATOS ____
name              object
birthdate         object
birth_name        object
birth_place       object
birth_region      object
birth_country     object
height_meters    float64
nickname          object
dtype: object

____ DUPLICADOS ____
0

____ % DE NULOS ____
name              0.00
birthdate        56.64
birth_name       65.99
birth_place      58.43
birth_region     60.06
birth_country    58.43
height_meters    69.04
nickname         87.94
dtype: float64

____ VALORES √öNICOS ____
name             2627
birthdate        1120
birth_name        894
birth_place       524
birth_region       85
birth_country      39
height_meters      57
nickname          306
dtype: int64

--- ‚úÖ Inspecci√≥n EDA terminada ---

In [20]:
df_vote = eda_sp.open_csv("./datasets/vote.csv")
df_vote.head(2)

Archivo cargado con √©xito

  episode_id  stars  votes  percent
0     S10-E1      2     13      0.8
1     S10-E1      3     15      1.0

In [21]:
df_vote.columns

Index(['episode_id', 'stars', 'votes', 'percent'], dtype='object')

In [22]:
df_ratings = pd.read_csv("./datasets/simpsons_ratings_episodes.csv", index_col=0)

df_ratings.head(2)

,title,description,original_air_date,production_code,directed_by,written_by,season,number_in_season,number_in_series,us_viewers_in_millions,imdb_rating,tmdb_rating,tmdb_vote_count
id,,,,,,,,,,,,,
0,Simpsons Roasting on an Open Fire,Homer is forced to become a department store S...,1989-12-17,7G08,David Silverman,Mimi Pond,1,1,1,26.7,8.1,6.921,101
1,Bart the Genius,Bart ends up at a school for gifted children a...,1990-01-14,7G02,David Silverman,Jon Vitti,1,2,2,24.5,7.7,7.400,62

In [23]:
df_ratings.columns

Index(['title', 'description', 'original_air_date', 'production_code',
       'directed_by', 'written_by', 'season', 'number_in_season',
       'number_in_series', 'us_viewers_in_millions', 'imdb_rating',
       'tmdb_rating', 'tmdb_vote_count'],
      dtype='object')

In [24]:
df_ratings.shape

(747, 13)

In [25]:
df_episode.columns

Index(['episode_id', 'title', 'summary', 'air_date', 'rating', 'votes'], dtype='object')