## **VISUALIZACIÓN GUESTS**

In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns', None)

In [3]:
df = pd.read_csv('simpsons-guests.csv', sep='|')
df.head()

,season,number,production_code,episode_title,guest_star,role
0,1,002–102,7G02,Bart the Genius,Marcia Wallace,Edna Krabappel; Ms. Melon
1,1,003–103,7G03,Homer's Odyssey,Sam McMurray,Worker
2,1,003–103,7G03,Homer's Odyssey,Marcia Wallace,Edna Krabappel
3,1,006–106,7G06,Moaning Lisa,Miriam Flynn,Ms. Barr
4,1,006–106,7G06,Moaning Lisa,Ron Taylor,Bleeding Gums Murphy

In [4]:
roles_himself_herself = df[
    df['role'].str.lower().str.contains('himself', na=False) |
    df['role'].str.lower().str.contains('herself', na=False)]

In [5]:
roles_himself_herself.sample(5)

,season,number,production_code,episode_title,guest_star,role
1118,25,552–2522,SABF18,The Yellow Badge of Cowardge,Edwin Moses,Himself
893,22,465–2201,MABF21,Elementary School Musical,Ira Glass,Himself
492,12,259–1211,CABF08,Worst Episode Ever,Neil Armstrong (archival),Himself
218,7,129–701,2F20,Who Shot Mr. Burns? Part 2,Tito Puente,Himself
909,22,471–2207,NABF02,How Munched is That Birdie in the Window?,Danica Patrick,Herself

Lo primero que hice fue filtrar el dataset para ver cuáles invitados se habían interpretadoa a si mismos y no habían doblado a otros personajes

In [6]:
roles_of_self = df[df['role'].isin(['Himself', 'Herself'])]

roles_by_season = roles_of_self.groupby('season').size().reset_index(name='count_himself_herself')

roles_by_season

   season  count_himself_herself
0      10                     20
1      11                     22
2      12                     15
3      13                      8
4      14                     21
5      15                     16
6      16                     13
7      17                     11
8      18                     14
9      19                     16
10      2                      3
11     20                      9
12     21                     18
13     22                     24
14     23                     19
15     24                     13
16     25                     15
17     26                     11
18     27                      7
19     28                     20
20     29                     13
21      3                     13
22     30                     12
23      4                     16
24      5                     10
25      6                      7
26      7                      9
27      8                      4
28      9                     12
29  Movie                      1

Luego los agrupé por temporada para saber cuántos invitados había tenido cada temporada

In [13]:
roles_by_pc = roles_of_self.groupby('production_code').size().reset_index(name='count_himself_herself') 
roles_by_pc

    production_code  count_himself_herself
0              1F05                      1
1              1F06                      1
2              1F08                      2
3              1F10                      1
4              1F11                      1
..              ...                    ...
231          YABF07                      1
232          YABF12                      1
233          YABF14                      1
234          YABF15                      1
235               —                      1

[236 rows x 2 columns]

In [22]:
roles_by_pc_ascendente = roles_of_self.groupby('production_code').size().reset_index(name='count_himself_herself').sort_values(by='count_himself_herself', ascending=True)

roles_by_pc_ascendente.tail(10)

    production_code  count_himself_herself
216          WABF12                      5
185          SABF05                      5
59           BABF02                      5
102          GABF02                      5
28             5F10                      5
45             9F19                      6
83           DABF22                      6
148          MABF15                      6
50           AABF08                      7
35             8F13                      9

Averiguamos cuales son los capítulos que más invitados tienen